# Hidden files
.*

# Temporary files
*~*

# Cache directories, e.g. __pycache__
__*

# Any junk in the root directory
/*

# Build directories
build/
_build/
build.*/
_build.*/

!.gitattributes
!.gitmodules
!.gitignore
!.gitkeep
!.editorconfig
!.clang-format
!.clangd
!/CMakeLists.txt
!/LICENSE.txt
!/README.rst
!/src/
!/include/
!/docs/


